body {background-color: gray;} 
h1{color: red; font-family: helvetica; font-size:50pt;}
h2{color: red; font-family: helvetica; font-size:18pt}
p{color:white; font-family:tahoma; font-size:12pt}
ol{color:white; font-family:tahoma; font-size:11pt}
ul{color:white; font-family:tahoma; font-size:11pt}